.status {
    color:white;
    background-color:#F54D17;
    border-radius:30px;
    text-align:center;
    align-content:center;
    margin: 5px;
    padding:7px;
    font-size:25px;
}

html{
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: none !important;
}

.board{
    background-color:#808080;
    margin: 5px;
    border-radius:20px;
    font-size:20px;
    color:white;
}

.avisos {
    text-align:center;
    align-content:center;
    margin: 5px;
    padding:10px;
}

.header{
    margin-top: 15px;
    margin-left:10px;
    width:100%;
    text-align:center;
    color: white;
}

.footer {
    color:white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.btnDireita{
  display: block;
  border:none;
  background-color: Transparent;
  margin: 10px;
  padding: 10px;
  width: 260px;
}
.botao{
      font-family: Helvetica, Arial, Sans-Serif;
      color:white;
      height: 55px;
      font-size: 20px;
      margin:2px;
      width:85px;
      padding:12;
      background-color : #696969;
}

.visor{
    background-color : #C0C0C0;
    margin: 15px;
    margin-bottom:5px;
    height: 50px;
    border: 1px solid black;
    cursor: none;
}
.componente_teclado{
    margin:5px;
    border:1px solid black;
    background-color : #808080;
    border-radius: 15px;
}
.color:hover
{
    background:#53a7ea;
    cursor: none !important;
}
.botao:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: none !important;
}
