body{
    background-color:#404142;
}
.teclado{
 margin:0px 10px 10px 28px; 
}
.margem{
 margin-left:0px !important;
 margin-right: 0px !important;
}

.btnAdmin{
    position:fixed;
    margin-top:0;
    margin-right:0;
    width:100px;
    height:40px;
    background-color:transparent;
    border:none;
}

.visor_valor{
    text-align:center;
    height:50px;
}

.avisos{
    background-color: rgba(0,0,0,.5);
    margin-left: 0px;
    margin-top:0px;
    height: 365px;
    border-radius:10px;
    border-bottom-left-radius:0px ;
    border-top-left-radius:0px ;
    border-top-right-radius: 0px;
}

.avisostopbar{
    height: 10px;
    background-color:#F54D17;
    margin-top:10px;
    margin-left:0px;
    margin-bottom:0px;
    border-radius: 10px;
    border-top-left-radius:0px ;
    border-bottom-left-radius:0px ;
    border-bottom-right-radius: 0px;
}

.btnAdmin:focus{
    border:none;
    background-color: Transparent;
    outline:0;
    cursor:none !important;
}

.status {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color:white;
    background-color:#F54D17;
    text-align:center;
    align-content:center;
    height:55px;
    margin-top: 0px;
    margin-bottom:0px;
    padding-bottom:15px;
    font-size:40px;
    font-weight:bolder;
    width:100%;
}

.header{
    margin-top: 15px;
    margin-left:5px;
    margin-right:10px;
    width:100%;
    text-align:center;
    color: white;
}

.btnUpdate{
    padding: 0px;
    border:none;
    background-color: Transparent;
}

.btnUpdate:focus{
    padding: 0px;
    border:none;
    background-color: Transparent;
    outline:0;
    cursor:none !important;
}

.topbar{
    width:100%;
    margin-left:5px;
    margin-right:10px;
    height:5px;
    background-color:#F54D17;
    border-radius:5px;
}

.footer {
    color:white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.btnDireita{
  display: block;
  border:none;
  background-color: Transparent;
  margin: 10px;
  padding: 10px;
  width: 280px;
}

.btnDireita:focus{
    outline:0;
    cursor:none !important;
}

.btnDireita:active{
    outline:0;
    cursor:none !important;
}

.botao{
      height: 55px;
      font-size: 20px;
      margin:2px;
      width:85px;
      font-weight:bolder;
    text-align:center;
	font:Arial, sans-serif;
	text-align: center;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee);
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);

}

.botao:focus{
    cursor:none !important;
    outline:none;
}

.botao:active{
    cursor:none !important;
}

.visor{
    background-color : #C0C0C0;
    margin: 15px;
    margin-bottom:5px;
    height: 50px;
    border: 1px solid black;
    cursor: none !important;
    font-size:60px;
    color:black;
}

.componente_teclado{
    border-radius:10px;
    margin:5px;
    margin-top:10px;
    background: #222;
	background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
	border: 1px solid #111;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.color:hover
{
    background:#53a7ea;
    cursor: none !important;
}
.botao:active
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: none !important;
}

.btnDireita:hover{
    cursor:none !important;
}

html{
    overflow-y: hidden;
    cursor: none !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-image:url('../imagens/btnPlanoFundo.png');
  background-size:cover;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 85%; /* Could be more or less, depending on screen size */
}

.modal-content-agendamento {
  background-image:url('../imagens/btnPlanoFundo.png');
  background-size:cover;
  margin: 1% auto; /* 15% from the top and centered */
  padding:0px;
  border: 1px solid #888;
  border-radius:5px;
  width: 70%; /* Could be more or less, depending on screen size */
}

.btnConfig1{
    height: 50px;
    width:45px;
    font-size: 25px;
    margin:5px;
    font-weight:bolder;
    text-align:center;
    font:Arial, sans-serif;
    text-align: center;
    color: #111;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #bbb, #eee);
    background-image:    -moz-linear-gradient(top, #bbb, #eee);
    background-image:     -ms-linear-gradient(top, #bbb, #eee);
    background-image:      -o-linear-gradient(top, #bbb, #eee);
    border-top: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
}

.btnConfig2{
    height: 50px;
    font-size: 25px;
    margin:5px;
    font-weight:bolder;
    text-align:center;
    font:Arial, sans-serif;
    text-align: center;
    color: #111;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #bbb, #eee);
    background-image:    -moz-linear-gradient(top, #bbb, #eee);
    background-image:     -ms-linear-gradient(top, #bbb, #eee);
    background-image:      -o-linear-gradient(top, #bbb, #eee);
    border-top: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
}

.btnConfig1:hover{
    cursor:none;
}

.btnConfig1:focus{
    outline:none;
}

/* Modal Content/Box */
.modal-content-loading {
    text-align:center;
    background-color: transparent;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: none;
    width: 80%; /* Could be more or less, depending on screen size */
}

.loader {
    margin-left: 250px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #F54D17; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

*{
    cursor:none !important;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.btnAgendamento{
    margin-top:20px;
    width:130px;
    padding:10px;
    font-size:25px;
    font-weight:bold;
    border:none;
    border-radius:10px;
    color:white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-image:linear-gradient(to bottom, #f54d14, #ec4a14, #e34714, #da4514, #d14214);
}

.btnAgendamento:focus{
    outline:none;
}

.btnAgendamento:active{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

option{
    font-size:20px;
    padding:5px;
}

.painelAgendamento{
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    background: #222;
    margin-left:0px;
    width:560px;
	background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
}

.btnAvisos{
    position: relative;
    border: 0;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(204, 204, 204);
    box-shadow: 0 6px #999;
}

.btnAvisos:focus{
    outline: none;
}

.btnAvisos:active{
      box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.rowCampainha{
    background: #959595;
    background: -moz-linear-gradient(top, #959595 0%, #0d0d0d 2%, #010101 50%, #0a0a0a 72%, #0a0a0a 96%, #383838 100%, #4e4e4e 100%, #1b1b1b 100%, #4e4e4e 100%, #383838 100%);
    background: -webkit-linear-gradient(top, #959595 0%,#0d0d0d 2%,#010101 50%,#0a0a0a 72%,#0a0a0a 96%,#383838 100%,#4e4e4e 100%,#1b1b1b 100%,#4e4e4e 100%,#383838 100%);
    background: linear-gradient(to bottom, #959595 0%,#0d0d0d 2%,#010101 50%,#0a0a0a 72%,#0a0a0a 96%,#383838 100%,#4e4e4e 100%,#1b1b1b 100%,#4e4e4e 100%,#383838 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#383838',GradientType=0 );
    margin:0px;
    width:475px;
    text-align:left;
    font-weight:bold;
}

#btnCancelarBio{
    height:100px:
    width:300px;
    font-size:30px;
    font-weight:bolder;
    text-align:center;
	font:Arial, sans-serif;
	text-align: center;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee);
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
}