<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.7.2-web/css/all.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.timepicker.min.css') }}">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
    <script src="{{ url_for('static', filename='css/bootstrap.min.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    <script>
        $(function(){
            $("#datepicker").datepicker();
            $("#datepicker").datepicker("option", "dateFormat", "dd/mm/yy");
            $("#datepicker").datepicker("option", "showAnim", "slideDown");
            $("#datepicker").datepicker( "setDate", new Date());
            $('input.timepicker').timepicker({
                timeFormat: 'H:mm',
                interval: 10,
                dynamic: false,
                dropdown: true,
                scrollbar: true,
                useSelect: true
            });
        });
    </script>
</head>
<body background="{{ url_for('static', filename='imagens/btnPlanoFundo.png')}}">

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#" onclick="Cadastrar()"><i style="margin-right:10px;" class='fas fa-fingerprint' aria-hidden='true'></i>Cadastrar Digital</a>
  <a href="#" onclick="update()"><i style="margin-right:10px;" class='fas fa-redo' aria-hidden='true'></i>Atualizar Registros</a>
  <a href="#" onclick="updateApp()"><i style="margin-right:10px;" class='fas fa-redo' aria-hidden='true'></i>Atualizar Aplicativo</a>
    <a href="#" id="myBtn"><i style="margin-right:10px;" class='fas fa-cog' aria-hidden='true'></i>Configurações</a>
  <a href="#" onclick="iniciarAgendamento()"><i style="margin-right:10px;" class='fas fa-calendar' aria-hidden='true'></i>Agendamento</a>
  <a href="#" onclick="CadastrarFuncionario()"><i style="margin-right:10px;" class='fas fa-fingerprint' aria-hidden='true'></i>Digital Funcionario</a>
      <a href="#" onclick="deletarBanco()"><i style="margin-right:10px;" class='fas fa-redo' aria-hidden='true'></i>Deletar Banco</a>
</div>

<div class="row margem" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);background-image:linear-gradient(to bottom, #f54d14, #ec4a14, #e34714, #da4514, #d14214);">
    <div class="col-md-1" style="padding-top:6px;">
        <span style="color:white;font-size:31px;" onclick="openNav()">&#9776;</span>
    </div>
    <div class="col-md-10" style="text-align:center;padding-top:8px;">
        <h2 style="color:white;font-size:29px;font-weight:bolder;">{{ user }}</h2>
    </div>
</div>

<div class="row margem">
    <div class="col-md-7" style="padding-left:0px;">
        <div class="row avisostopbar">

        </div>
        <div class="row avisos">
             {% block detalhes %}{% endblock %}
        </div>
    </div>
    <div class="col-md-5 boxdireita2">
        {% block boxdireita %}{% endblock %}
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="d-md-flex pd-y-20 pd-md-y-0" style="margin-bottom:5px;">
            <label style="background-color:#F54D17;color:white;border-radius:20px;margin:5px;font-weight:bold;width:50px;vertical-align:middle;text-align:center;">IP</label><div style="width:100px;background-color:white;padding-top:5px;">{{ ip }}</div>
            <label style="background-color:#F54D17;color:white;border-radius:20px;margin:5px;margin-left:20px;font-weight:bold;width:200px;vertical-align:middle;text-align:center;">Tempo de Abertura</label><input style="width:25px;" id="hOpen" onfocus="changeConfigInput('#hOpen')" maxlength="2" type="text" placeholder="H"/><input style="width:25px;margin-left:5px;" id="mOpen" onfocus="changeConfigInput('#mOpen')" placeholder="M" maxlength="2" type="text"/><input style="width:25px;margin-left:5px;" id="sOpen" onfocus="changeConfigInput('#sOpen')" placeholder="S" maxlength="2" type="text"/>
        </div>
        <div class="d-md-flex pd-y-20 pd-md-y-0" style="margin-bottom:5px;">
            <label style="background-color:#F54D17;color:white;border-radius:20px;margin:5px;font-weight:bold;width:50px;vertical-align:middle;text-align:center;">IOT</label><input style="width:100px;" type="text" id="idIOT" onfocus="changeConfigInput('#idIOT')" placeholder="N° IOT"/>
            <label style="background-color:#F54D17;color:white;border-radius:20px;margin:5px;margin-left:20px;font-weight:bold;width:200px;vertical-align:middle;text-align:center;">Hora da Atualização</label><input style="width:25px;" id="hUpdate" onfocus="changeConfigInput('#hUpdate')" placeholder="H" maxlength="2" type="text"/><input style="width:25px;margin-left:5px;" id="mUpdate" onfocus="changeConfigInput('#mUpdate')" placeholder="M" maxlength="2" type="text"/>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <div class="d-md-flex pd-y-20 pd-md-y-0">
                <button class="btnConfig1" onclick="tecladoConfig(-1)"><</button>
                <button class="btnConfig1" onclick="tecladoConfig(0)">0</button>
                <button class="btnConfig1" onclick="tecladoConfig(1)">1</button>
                <button class="btnConfig1" onclick="tecladoConfig(2)">2</button>
                <button class="btnConfig1" onclick="tecladoConfig(3)">3</button>
                <button class="btnConfig1" onclick="tecladoConfig(4)">4</button>
                <button class="btnConfig1" onclick="tecladoConfig(5)">5</button>
                <button class="btnConfig1" onclick="tecladoConfig(6)">6</button>
                <button class="btnConfig1" onclick="tecladoConfig(7)">7</button>
                <button class="btnConfig1" onclick="tecladoConfig(8)">8</button>
                <button class="btnConfig1" onclick="tecladoConfig(9)">9</button>
            </div>
        </div>
        <div style="background-color:white;height:100px;">
            <p id="msgIOT" style="margin:0px;"></p>
            <p id="msgAbertura" style="margin:0px;"></p>
            <p id="msgUpdate" style="margin:0px;"></p>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <div class="d-md-flex pd-y-20 pd-md-y-0">
                <button id="close" class="btnConfig2" style="margin:10px;">Cancelar</button>
                <!--<button onclick="updateAndReboot()" class="btnConfig" style="margin:10px;">Atualizar e Reiniciar</button>-->
                <button onclick="reboot()" class="btnConfig2" style="margin:10px;">Reiniciar</button>
                <button onclick="saveChanges()" class="btnConfig2" style="margin:10px;">Salvar</button>
            </div>
        </div>
    </div>
</div>

    <!-- The Modal -->
    <div id="loading" class="modal">
        <!-- Modal content -->
        <div class="modal-content-loading">
            <div class="row">
                <div class="col-md-12" id="updateStatus">
                    <div class="loader"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                   <p id="updatemsg" style="color:white;font-weight:bolder;font-size:30px;">Atualizando</p>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="cadastramento" class="modal">
        <!-- Modal content -->
        <div class="modal-content-loading">
            <div class="row">
                <div class="loader"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                   <p id="etapaCadastro" style="color:white;font-weight:bolder;font-size:25px;">Coloque o dedo no leitor</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                   <!--<button id="btnCancelarBio" onclick="CancelarBio()">Cancelar</button>-->
                </div>
            </div>
        </div>
    </div>

 <!-- The Modal -->
    <div id="modalAgendamento" class="modal">
        <!-- Modal content -->
        <div class="modal-content-agendamento">

            <div class="row" style="font-size:20px;color:white;font-weight:bold;margin:0px;text-align:center;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);background-image:linear-gradient(to bottom, #f54d14, #ec4a14, #e34714, #da4514, #d14214);">
                <div class="col-md-12">
                    <div>Agendamento</div>
                </div>
            </div>

            <div class="row painelAgendamento">
                <div class="col-md-4" style="padding:0px;padding-top:20px;">
                    <div id="userAgen" style="color:white;font-weight:bolder;font-size:20px;margin-top:5px;margin-bottom:0px;padding:5px;"></div>
                </div>
                <div class="col-md-8">
                   <p style="color:white;font-weight:bolder;font-size:20px;margin-top:5px;margin-bottom:0px;padding:5px;">Contrato</p>
                    <!--<i class='fas fa-calendar' aria-hidden='false' style="margin-right:5px;color:white;"></i>-->
                    <select id="contratos" style="height:50px;width:250px;margin-top:0px;margin-bottom:10px;">

                    </select>
                </div>
            </div>

            <div class="row" style="text-align:center;padding-left:10px;padding-right:10px;">
                <div class="col-md-6">
                   <p style="color:white;font-weight:bolder;font-size:20px;margin-top:5px;margin-bottom:0px;padding:5px;">Sala</p>
                    <!--<i class='fas fa-calendar' aria-hidden='false' style="margin-right:5px;color:white;"></i>-->
                    <select id="salas" style="height:50px;width:200px;margin-top:0px;margin-bottom:10px;">

                    </select>
                </div>
                 <div class="col-md-6">
                    <p style="color:white;font-weight:bolder;font-size:20px;margin-top:5px;margin-bottom:0px;padding:5px;">Inicio</p>
                     <!--<i class='fas fa-clock' aria-hidden='false' style="margin-right:5px;color:white;"></i>-->
                     <input class="timepicker" id="inicioAgen" style="text-align:center;height:50px;width:200px;font-size:20px;">
                </div>
            </div>

            <div class="row" style="text-align:center;padding-left:10px;padding-right:10px;">
                <div class="col-md-6">
                   <p style="color:white;font-weight:bolder;font-size:20px;margin-top:5px;margin-bottom:0px;padding:5px;">Data</p>
                    <!--<i class='fas fa-calendar' aria-hidden='false' style="margin-right:5px;color:white;"></i>-->
                    <input type="text" id="datepicker" style="text-align:center;height:50px;width:200px;font-size:20px;">

                </div>
                 <div class="col-md-6">
                     <p style="color:white;font-weight:bolder;font-size:20px;margin-top:5px;margin-bottom:0px;padding:5px;">Fim</p>
                     <!--<i class='fas fa-clock' aria-hidden='false' style="margin-right:5px;color:white;"></i>-->
                     <input class="timepicker" id="fimAgen" style="text-align:center;height:50px;width:200px;font-size:20px;">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    <p id="avisoAgendamento" style="color:white;font-size:18px;padding-bottom:0px;margin-bottom:0px;padding-top:5px;"></p>
                </div>
            </div>

            <div class="row" style="text-align:center;margin:10px;padding-left:10px;padding-right:10px;margin-top:5px;">
                <div class="col-md-2">

                </div>
                <div class="col-md-4">
                   <button onclick="cancelaAgendamento()" class="btnAgendamento">Cancelar</button>
                </div>
                <div class="col-md-4">
                   <button class="btnAgendamento" onclick="agendar()">Agendar</button>
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
    </div>

<div class="footer">
    <div class="row">
        <h5 id="data" class="col-md-2">
            {{ data }}
        </h5>
        <h5 id="hora" class="col-md-2">
            {{ hora }}
        </h5>
        <h5 class="col-md-1">

        </h5>
        <h5 id="con" class="col-md-2">
            {{ conexao }}
        </h5>
        <h5 class="col-md-3">
            {{ device }}
        </h5>
        <h5 class="col-md-2">
            {{ versao }}
        </h5>
    </div>
</div>
</body>
</html>
